@using SquareApplication.Models
@model LoginViewModel

<div class="customized-modal-loginPartial">
    <button id="modalCancelBtn" class="btn btn-primary modal-btn-close">Close</button>
    <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Log in</h4>
    </div>
    @using (Ajax.BeginForm("Login", new AjaxOptions()
    {
        OnFailure = "",
        OnSuccess = ""

    }))
    {
        <div class="modal-body">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 margin0">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            </div>
        </div>
    }
</div>
<script src="/Scripts/app/script.js" type="text/javascript"></script>