@model IEnumerable<SquareApplication.Models.UserActivityViewModel>

<head>
    <script src="/Scripts/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="/Scripts/app/script.js" type="text/javascript"></script>
</head>

<h4>Your uploads</h4>

@Html.ActionLink("Create set", "CreateSet", "Set", null, new { @class = "modal-link squareOrange" })

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@Html.Raw(TempData["TempSetMsg"])

<div class="row">
    @foreach (var item in Model)
    {
        <div class="well squaredSets" style="padding-bottom: 100px;">
            <table class="table">
                <tr>
                    <th class="text-center" colspan="2">@item.SetTitle</th>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Edit", "Details", "Set", new { setId = item.SetId }, new { @class = "squareOrange" })</td>
                    <td class="text-right">@Html.ActionLink("Delete", "DeleteSet", "Set", new { setId = item.SetId }, new { @class = "modal-link squareOrange" })</td>
                </tr>
            </table>
        </div>
    }
</div>

<style>
    .squaredSets {
        padding: 10px;
        width: 150px;
        height: 150px;
    }
</style>