<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Squares</title>
    @Styles.Render("~/Content/css")
       @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/css/sass.css")
    @Styles.Render("~/Content/css/style.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header >
        <nav >
            <nav>                <div id="logoNav" class="centerTextInDiv squareBlue top0left0 fixed">
                    <div class="circleLogo">    </div>
                </div>
            </nav>
            <a href="/Explore/explore"><div id="exploreNav" class="centerTextInDiv squareBlue  top50left50 fixed">Explore</div></a>
            <a href="/home/about"><div class="centerTextInDiv squareBrown top0right50 fixed">About</div></a>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    <div class="centerTextInDiv squareOrange top50right0  fixed">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Profile", "UserProfile", "Account")</li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">LogOff</a></li>
                                </ul>
                            </li>
                        </ul>
                      
                        
                    </div>
                }
            }
            else
            {
                <div class="centerTextInDiv squareOrange top50right0  fixed">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
            }
            <a href="/explore/explore">
                <div id="logoNav" class="centerTextInDiv squareBlue top0left0 fixed">
                    <div class="circleLogo">    </div>
                </div>
            </a>
        </nav>

    </header>
    <div class="container body-content">
        @RenderBody()
        <div style="clear: both"></div>
      </div>
    <footer class="flexContainer">
        <div class="flexItem">
            <p>Contacts</p>
            <p>Services</p>
            <p>Shop</p>
        </div>
        <div class="flexItem">
            <p>Squares</p>
            <p>Meijlgade 24</p>
            <p>Aarhus, DK</p>
        </div>
        <div class="flexItem">
            <p>A project by</p>
            <img src="~/Assets/images/site/KongOrange.png">
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>